In [13]:
Name = "David"
Age = 20
Address = "US"
print("Name:", Name, "Age:", Age, "Address:", Address)
print(f"Person Name:{Name}\vAge:{Age}\nCurrent Address:{Address}") # formatted string

Name: David Age: 20 Address: US
Person Name:DavidAge:20
Current Address:US

In [20]:
day = 15
month = 5
year = 2025
print(day,month,year, sep="-")

15-5-2025

In [30]:
day = 15
month = 5
year = 2025
print(day,month,year, sep="\v")

1552025

In [25]:
day = 15
month = 5
year = 2025
display(day,month,year)

15

5

2025

In [32]:
day = 15
month = 5
year = 2025
print("Day: {}, Month: {}, Year: {}".format(month,day, year)) # Outdated
print(f"Person Name:{Name}\vAge:{Age}\nCurrent Address:{Address}") # formatted string

Day: 5, Month: 15, Year: 2025
Person Name:DavidAge:20
Current Address:US

In [33]:
# Loops: for, while
max_times = 10
while max_times: # while CONDITION
    print("Hello world")
    max_times -= 1

print("Done")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Done

In [34]:
# Loops: for, while
max_times = 10
while (max_times != 0): # while CONDITION
    print("Hello world")
    print(f"max_times :{max_times}")
    max_times -= 1

print("Done")

Hello world
max_times :10
Hello world
max_times :9
Hello world
max_times :8
Hello world
max_times :7
Hello world
max_times :6
Hello world
max_times :5
Hello world
max_times :4
Hello world
max_times :3
Hello world
max_times :2
Hello world
max_times :1
Done

In [36]:
# For Loop
names = ["a", "b", "c", 1, 2, 3] # List of names
for name in names:
    print(f"Hello {name}")

Hello a
Hello b
Hello c
Hello 1
Hello 2
Hello 3

In [42]:
# For Loop
names = ["a", "b", "c", 1, 2, 3, 1.2, True, False] # List of names
for name in names: # a,b,c, 1
    if type(name) != str:
        continue
    print(f"Hello {name}")
print("For loop ends")

Hello a
Hello b
Hello c
Hello 1
Hello 2
Hello 3
Hello 1.2
Hello True
Hello False
For loop ends

In [42]:
# For Loop
names = ["a", "b", "c", 1, 2, 3, 1.2, True, False] # List of names
for name in names: # a,b,c, 1
    if type(name) != str:
        continue
    print(f"Hello {name}")
print("For loop ends")

Hello a
Hello b
Hello c
Hello 1
Hello 2
Hello 3
Hello 1.2
Hello True
Hello False
For loop ends

In [39]:
a = 1
print(type(a))

<class 'int'>

In [48]:
# For Loop
short_listed = ["david", "John", "ram", "rahim", "abc"] # List of names
search_name = "ram"

for name in short_listed:
    if (search_name == name):
        print("Yes!!! Congratulations!!!")
        break

print("For loop done")

Yes!!! Congratulations!!!
For loop done

In [56]:
# For Loop
short_listed = ["david", "John", "ram", "rahim", "abc"] # List of names
search_name = "ram123"

flag = False
for name in short_listed:
    if (search_name == name):
        print("Yes!!! Congratulations!!!")
        flag = True
        break

if flag == False:
    print("Sorry you name is not there!!")
    
print("For loop done")

Sorry you name is not there!!
For loop done

In [68]:
# For Loop
short_listed = ["david", "John", "ram", "rahim", "abc"] # List of names
search_name = "RAM"

for name in short_listed: # list/dictionary/range/set/tuple/string
    if (search_name.lower() == name.lower()):
        print("Yes!!! Congratulations!!!")
        break
    else:
        print(f"Name: {name} did not match, please check with next name")
else:
    print("Sorry you name is not there!!")    
    
print("For loop done")

Name: david did not match, please check with next name
Name: John did not match, please check with next name
Yes!!! Congratulations!!!
For loop done

In [66]:
# String:
search_name = "Ram"
print(search_name.upper())
print(search_name.lower())

RAM
ram

In [ ]:
'''
App: securitycheck

1) No Response
2) Check process is running:
    Yes: 
        2.1) CPU Usage : 
        2.3) Memory usage: Stack memory

3) Add Logs inside loops
'''

In [ ]:
while True:
    print("Hello")

In [71]:
def add(a,b):
    return a+b

print(add(1,2))

3

In [82]:
# country is default argument
# positional arguments
def print_student_details(name, age, address="Yelahanka", country="India"):
    print(f"Name: {name}\nAge: {age}\nAddress : {address}\nCountry: {country}")
    print("****"*10)

print_student_details("David", 45, "Bangalore", "India")
print_student_details("David", 45, "Bangalore")
print_student_details("David", 45)
print_student_details(str(100), 40)

Name: David
Age: 45
Address : Bangalore
Country: India
****************************************
Name: David
Age: 45
Address : Bangalore
Country: India
****************************************
Name: David
Age: 45
Address : Yelahanka
Country: India
****************************************
Name: 100
Age: 40
Address : Yelahanka
Country: India
****************************************

In [83]:
# int a = 10; 
# a = "hello";  # Compilation error: a is not string

#Packing
a = 10
'''
creates instance of class 'int'
Keep the value 10
'''
b = 1.1
'''
creates instance of class 'float'
keeps the value 1.1
'''

#Unpacking
print(a)
'''
gets the value from variable 'a'
passes the value to screen
'''

10

"\ngets the value from variable 'a'\npasses the value to screen\n"