In [21]:
# sqlite3

import sqlite3
conn = sqlite3.connect("DB.sqlite") # If file is not existing , file is created
# conn = sqlite3.connect(":memory:") #--> Creating DB in memory

cursor = conn.cursor()


cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT UNIQUE
);
''')

sample_users = [
    (1, 'Alice', 'alice@example.com'),
    (2, 'Bob', 'bob@example.com'),
    (3, 'Charlie', 'charlie@example.com')
]

cursor.executemany("INSERT OR IGNORE INTO users (id, name, email) VALUES (?, ?, ?);", sample_users)

conn.commit()
conn.close()

In [24]:
# Reading the table from SQLITE3 file

import pandas as pd
conn = sqlite3.connect("DB.sqlite") # If file is not existing , file is created
df = pd.read_sql_query("SELECT * FROM users;", conn)
print(df)


# Append data
user2 = [
    (4, 'Alice2', 'alice@example2.com'),
    (5, 'Bob2', 'bob@example2.com'),
    (6, 'Charlie2', 'charlie@example2.com')
]

df = pd.DataFrame(user2, columns=["id", "name", "email"])

print(df)
# tablename, conn, if_exists='append'
df.to_sql("users", conn, if_exists='append', index=False)

   id     name                email
0   1    Alice    alice@example.com
1   2      Bob      bob@example.com
2   3  Charlie  charlie@example.com
   id      name                 email
0   4    Alice2    alice@example2.com
1   5      Bob2      bob@example2.com
2   6  Charlie2  charlie@example2.com

3

In [25]:
df = pd.read_sql_query("SELECT * FROM users;", conn)
print(df)

   id      name                 email
0   1     Alice     alice@example.com
1   2       Bob       bob@example.com
2   3   Charlie   charlie@example.com
3   4    Alice2    alice@example2.com
4   5      Bob2      bob@example2.com
5   6  Charlie2  charlie@example2.com