# CRUD Operations with Pandas in MySQL and SQLite

This Jupyter Notebook demonstrates how to perform **CRUD (Create, Read, Update, Delete)** operations on MySQL and SQLite databases using Python's `pandas` library, with `mysql-connector-python` for MySQL and `sqlite3` for SQLite. The examples use a `sales` table, covering basic operations, large dataset handling with chunking, and best practices.

## Prerequisites
- Install required libraries: `pip install mysql-connector-python pandas sqlalchemy matplotlib`
- Set up MySQL (`sales_db`) and SQLite (`sales.db`) databases (see Setup section).
- Replace placeholders (`user`, `password`) with actual MySQL credentials.

## Color Scheme
- Visualizations use **indigo (#4f46e5)** for MySQL and **coral (#ff7f7f)** for SQLite to match the HTML guide.

In [ ]:
#brew install mysql
#mysql_secure_installation

## Setup

### Install Libraries
```bash
pip install mysql-connector-python pandas sqlalchemy matplotlib
```

### MySQL Database Setup
Run the following SQL commands in your MySQL client:
```sql
CREATE DATABASE sales_db;
USE sales_db;
CREATE TABLE sales (
    id INT AUTO_INCREMENT PRIMARY KEY,
    product VARCHAR(100),
    amount DECIMAL(10, 2),
    sale_date DATE,
    INDEX idx_sale_date (sale_date)
);
```

### SQLite Database Setup
Create a SQLite database file (`sales.db`):

In [1]:
import sqlite3

# Create SQLite database and table
conn = sqlite3.connect('sales1.db')
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS sales (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        product TEXT,
        amount REAL,
        sale_date TEXT
    )
''')
conn.commit()
conn.close()

import os
os.getcwd()

'/Users/kamalmukiri/Documents/1.GitHub/AptTutorials/DataEngineeringConcepts/JupyterNotebooks/Pandas'

## MySQL: CRUD Operations

### Create
Insert new records into the `sales` table using `to_sql`.

In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Sample data
data = pd.DataFrame({
    'product': ['Laptop', 'Phone', 'Tablet'],
    'amount': [1000.00, 500.00, 300.00],
    'sale_date': ['2023-01-15', '2023-02-20', '2023-03-10']
})

try:
    engine = create_engine('mysql+mysqlconnector://user:password@localhost/sales_db')
    data.to_sql('sales', con=engine, if_exists='append', index=False)
    print(f"{len(data)} record(s) inserted")
except Exception as e:
    print(f"Error: {e}")

Error: No module named 'mysql'

### Read
Read data with `read_sql`, including chunking for large datasets.

In [ ]:
# Basic read
try:
    engine = create_engine('mysql+mysqlconnector://user:password@localhost/sales_db')
    df = pd.read_sql("SELECT * FROM sales WHERE sale_date >= '2023-01-01' LIMIT 10", engine)
    print(df)
except Exception as e:
    print(f"Error: {e}")

# Read large dataset in chunks
try:
    engine = create_engine('mysql+mysqlconnector://user:password@localhost/sales_db')
    query = "SELECT * FROM sales"
    for chunk in pd.read_sql(query, engine, chunksize=1000):
        print(chunk.head())  # Process chunk
except Exception as e:
    print(f"Error: {e}")

### Update
Update records using SQL queries.

In [ ]:
import mysql.connector

try:
    connection = mysql.connector.connect(
        host='localhost',
        database='sales_db',
        user='user',
        password='password'
    )
    cursor = connection.cursor()
    update_query = "UPDATE sales SET amount = amount * 1.10 WHERE sale_date LIKE '2023%'"
    cursor.execute(update_query)
    connection.commit()
    print(f"{cursor.rowcount} record(s) updated")
except Exception as e:
    print(f"Error: {e}")
    connection.rollback()
finally:
    cursor.close()
    connection.close()

### Delete
Delete records using SQL queries.

In [ ]:
try:
    connection = mysql.connector.connect(
        host='localhost',
        database='sales_db',
        user='user',
        password='password'
    )
    cursor = connection.cursor()
    delete_query = "DELETE FROM sales WHERE amount < 100.00"
    cursor.execute(delete_query)
    connection.commit()
    print(f"{cursor.rowcount} record(s) deleted")
except Exception as e:
    print(f"Error: {e}")
    connection.rollback()
finally:
    cursor.close()
    connection.close()

## SQLite: CRUD Operations

### Create
Insert new records into the `sales` table.

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Sample data
data = pd.DataFrame({
    'product': ['Laptop', 'Phone', 'Tablet'],
    'amount': [1000.00, 500.00, 300.00],
    'sale_date': ['2023-01-15', '2023-02-20', '2023-03-10']
})

try:
    engine = create_engine('sqlite:///sales.db')
    data.to_sql('sales', con=engine, if_exists='append', index=False)
    print(f"{len(data)} record(s) inserted")
except Exception as e:
    print(f"Error: {e}")

### Read
Read data with `read_sql`.

In [ ]:
# Basic read
try:
    engine = create_engine('sqlite:///sales.db')
    df = pd.read_sql("SELECT * FROM sales WHERE sale_date >= '2023-01-01' LIMIT 10", engine)
    print(df)
except Exception as e:
    print(f"Error: {e}")

# Read large dataset in chunks
try:
    engine = create_engine('sqlite:///sales.db')
    query = "SELECT * FROM sales"
    for chunk in pd.read_sql(query, engine, chunksize=1000):
        print(chunk.head())
except Exception as e:
    print(f"Error: {e}")

### Update
Update records using SQL queries.

In [ ]:
import sqlite3

try:
    connection = sqlite3.connect('sales.db')
    cursor = connection.cursor()
    update_query = "UPDATE sales SET amount = amount * 1.10 WHERE sale_date LIKE '2023%'"
    cursor.execute(update_query)
    connection.commit()
    print(f"{cursor.rowcount} record(s) updated")
except sqlite3.Error as e:
    print(f"Error: {e}")
    connection.rollback()
finally:
    cursor.close()
    connection.close()

### Delete
Delete records using SQL queries.

In [ ]:
try:
    connection = sqlite3.connect('sales.db')
    cursor = connection.cursor()
    delete_query = "DELETE FROM sales WHERE amount < 100.00"
    cursor.execute(delete_query)
    connection.commit()
    print(f"{cursor.rowcount} record(s) deleted")
except sqlite3.Error as e:
    print(f"Error: {e}")
    connection.rollback()
finally:
    cursor.close()
    connection.close()

## Visualization

Visualize row counts before and after CRUD operations using `matplotlib` with indigo (#4f46e5) for MySQL and coral (#ff7f7f) for SQLite.

In [ ]:
import matplotlib.pyplot as plt

# Sample data (replace with actual counts)
labels = ['MySQL Before', 'MySQL After', 'SQLite Before', 'SQLite After']
counts = [1000, 998, 500, 498]
colors = ['#4f46e5', '#4f46e5', '#ff7f7f', '#ff7f7f']
alpha = [0.5, 0.8, 0.5, 0.8]  # Vary opacity for before/after

plt.bar(labels, counts, color=colors, alpha=alpha)
plt.title('Row Counts Before and After CRUD Operations')
plt.xlabel('Database State')
plt.ylabel('Rows')
plt.show()

## Best Practices

- **Parameterized Queries**: Use for Update/Delete to prevent SQL injection.
- **Chunking**: Use `chunksize` in `read_sql` and `to_sql` for large datasets.
- **Transaction Management**: Ensure commit/rollback for data integrity.
- **Indexing**: Create indexes on columns in WHERE clauses (e.g., `sale_date`).
- **Validation**: Validate DataFrame data before operations.
- **Connection Pooling**: Use SQLAlchemy with pooling for MySQL.

## Notes
- Replace `user` and `password` with actual MySQL credentials.
- Adjust `chunksize` based on memory for large datasets.
- Store credentials securely (e.g., environment variables) in production.
- Consider `SQLAlchemy` ORM for complex operations.